package ${package_name}.service;

import ${package_name}.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* ${model}Service接口
* Created by thinkam on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}