<!DOCTYPE html>
<html lang="zh-CN" ng-app="registerApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>注册页面</title>
    <link rel="stylesheet" href="common/bootstrap.min.css">
    <link rel="stylesheet" href="css/layout/assets.css">
    <link rel="stylesheet" href="css/layout/layout.css">
    <link rel="stylesheet" href="css/plugs/buttons.css">
    <link rel="stylesheet" href="css/plugs/style.css">
    <link rel="stylesheet" href="css/register/register.css">
</head>
<body ng-controller="registerCtrl">
<!--[if lte IE8]>
<p>浏览器版本太低，请
    <a target="_blank" href="http://www.browsehappy.com">升级</a>
    为最新的ie浏览器！
</p>
<![endif]-->
<div class="ct-container col-md-12">
    <header class="share-header col-md-12"></header>
    <div class="register-login-content col-md-12">
        <div class="paper-content">
            <header class="paper-header">Account Register</header>
            <form action="" method="post">
                <ul class="form-place col-md-12" id="formplace">
                    <li style="margin-top:25px">
                        <div class="user-div">
                            <input name="username" id="username" type="text"
                                   placeholder="用户名：5~15个字符，不能有空格"
                                   ng-blur="checkUsernameExist()" ng-model="username">
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="password-div">
                            <input name="password" id="password" type="password"
                                   placeholder="密码：6~16个字符，首尾不能有空格">
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="cpassword-div">
                            <input name="cpassword" id="confirmedPassword"
                                   type="password" placeholder="确认密码：请再次填写密码">
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <span class="sex-choice"></span>
                        <div class="sex-div" style="margin-left:20px;">
                            <span class="sex-logo" index="1" style=""></span>
                            <input name="sex" class="sex-radio" id="sex-female" type="radio" value="female"/>
                            <label for="sex-female"></label>
                        </div>
                        <div class="sex-div">
                            <span class="sex-logo" index="2"></span>
                            <input name="sex" class="sex-radio" id="sex-male" type="radio" value="male"/>
                            <label for="sex-male"></label>
                        </div>
                        <div class="sex-div">
                            <span class="sex-logo" index="3"></span>
                            <input name="sex" class="sex-radio" id="sex-secret" type="radio" value="secret"
                                   checked="checked"/>
                            <label for="sex-secret"></label>
                        </div>
                    </li>

                    <li>
                        <div class="email-div">
                            <input id="email" name="email" type="text" value=""
`                                   placeholder="邮箱：请输入你的邮箱地址" ng-model="email">
                            <button type="button" disabled="disabled"
                                    class="button button-caution button-box button-raised button-giant"
                                    id="codebutton" ng-click="sendCaptcha()">
                                <i class="fa">发送</i>
                            </button>
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="code-div">
                            <input name="code" type="text" id="emailCaptcha" placeholder="验证码">
                        </div>
                        <button type="button" disabled="disabled"
                                class="button button-caution button-box button-raised button-giant" id="submitbutton"
                                ng-click="register()">
                            <i class="fa">注册</i>
                        </button>

                    </li>
                </ul>
            </form>
        </div>
    </div>
    <footer class="share-footer col-md-12"></footer>
    <div id="error-box">
        <p id="error-info">出错了</p>
    </div>
</div>
</body>
<script src="js/main.js"></script>
<script src="js/register.js"></script>
<script src="common/angular.js"></script>
<script src="js/registerApp.js"></script>
</html>
