<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>忘记密码</title>
    <link rel="stylesheet" href="common/bootstrap.min.css">
    <link rel="stylesheet" href="css/layout/assets.css">
    <link rel="stylesheet" href="css/layout/layout.css">
    <link rel="stylesheet" href="css/plugs/buttons.css">
    <link rel="stylesheet" href="css/plugs/style.css">
    <link rel="stylesheet" href="css/reset/reset.css">
    <script src="common/angular.min.js"></script>
</head>
<body ng-app="resetApp">
<!-- **********用户浏览器版本<=IE8**********-->
<!--[if lte IE8]>
<p>浏览器版本太低，请<a tagert="_blank" href="http://www.browsehappy.com">升级</a>为最新的ie浏览器！</p>
<![endif]-->

<!--
    作者：806551840@qq.com
    时间：2017-11-02
    描述：整个页面的容器 .ct-container
-->
<div class="ct-container" ng-controller="MainController" class="col-md-12">
    <!--
        作者：806551840@qq.com
        时间：2017-11-02
        描述：三个页面的头部 .share-header
    -->
    <header class="share-header col-md-12">

    </header>
    <!--
        作者：806551840@qq.com
        时间：2017-11-02
        描述：注册登录页面的主体 .register-login-content
    -->
    <div class="register-login-content col-md-12">

        <div class="paper-content">
            <header class="paper-header">Input Info</header>
            <form ng-controller="formController">
                <ul ng-if="formIf[0]" class="form-place col-md-12" id="formplace">
                    <li style="margin-top:25px;">
                        <h2>第一步：</h2>
                    </li>
                    <li style="margin-top:0px;">
                        <div class="email-div">
                            <input id="emailinput" name="email" inptype="1" type="text" value="" placeholder="邮箱：请输入你的邮箱地址">

                        </div>
                    </li>
                    <li>
                        <div class="code-div">
                            <input name="code" inptype="1" type="text" id="codeinput" placeholder="验证码">
                        </div>
                        <div class="code-image">

                        </div>
                    </li>
                    <li>
                        <div class="code-div">
                            <input name="emailcode" inptype="1" type="text" id="emailcodeinput" placeholder="邮箱验证码">
                        </div>
                        <button type="button" class="button button-caution button-box button-raised button-giant" id="emailcodebutton">
                            <i class="fa">send</i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="button button-caution button-box button-raised button-giant" id="submitbutton">
                            <i class="fa">Next</i>
                        </button>
                    </li>
                </ul>
                <ul ng-if="formIf[1]" class="form-place col-md-12" id="formplace">
                    <li style="margin-top:25px;">
                        <h2>第二步：</h2>
                    </li>
                    <li>
                        <div class="password-div"><input name="password" inptype="1" id="passwordinput" type="password" value="" placeholder="输入你的新密码"></div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="cpassword-div"><input name="cpassword" inptype="1" id="cpasswordinput" type="password" value="" placeholder="请确认你的新密码"></div>
                        <span class=""></span>
                    </li>
                    <li>
                        <button type="button" class="button button-caution button-box button-raised button-giant" id="submitbutton">
                            <i class="fa">Next</i>
                        </button>
                    </li>
                </ul>
                <ul ng-if="formIf[2]" class="form-place col-md-12" id="formplace">
                    <li style="margin-top:100px;">
                        <h2>恭喜您，修改成功！</h2>
                        <h2>正在跳转.......</h2>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <!--
        作者：806551840@qq.com
        时间：2017-11-02
        描述：三个页面的尾部 .share-footer
    -->
    <footer class="share-footer col-md-12">

    </footer>

    <div class="error-box" id="error-box"><p class="error-info" id="error-info">出错了<p></div>
</div>
</body>
<script src="js/main.js"></script>
<script src="js/reset.js"></script>
<script src="angularjs/resetApp.js"></script>
</html>
