.paper-content{
	top:45%;
    margin-top:-190px;
    height:380px;
}
.form-place{
	height:322px;
}

#submitbutton{
	height:44px;
	width:195px;
	margin-top:4px;
}
#resetbutton{
	height:44px;
	width:100px;
	margin-top:4px;
	margin-left:16px;
}
.code-image{
	height:44px;
	width:100px;
	background-color: lightpink;
	float: left;
	margin-top:4px;
	margin-left: 36px;
	border-radius: 4px;
}

.alert-box input{
	visibility: hidden;
}
.alert-box label{
	height:24px;
	width:23px;
	background-image: url("../../img/user/checkbox.png");
	background-position:-23px 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	margin-top: 4px;
}
.alert-box p{
	float: left;
	margin-left: 10px;
	margin-top: 4px;
}
.alert-box a{
	margin-left: 100px;
	margin-top: 4px;
	font-size:16px;
	color:#3c3c3c;
	float: left;
}